* {
    -moz-box-sizing: border-box;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 21px;
    overflow-y: auto;
}
.cf:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
html[xmlns] .cf {
    display: block;
}
* html .cf {
    height: 1%;
}
header, section, footer {
    display: block;
}
.sans {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.serif {
    font-family: 'Droid Serif',Georgia,serif;
}
.mono {
    font-family: 'Monaco',monospace;
}
.tooltip {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.698);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #000000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #000000;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 2px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #000000;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 2px;
    border-top-color: #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 2px;
    color: #FFFFFF;
    display: none;
    font-weight: bold;
    left: 10px;
    max-width: 275px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    position: absolute;
    top: 10px;
    z-index: 5;
}
a {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #222222;
}
p:last-child {
    margin-bottom: 0 !important;
}
input[type="email"], input[type="password"], input[type="pub_title"] {
    border-bottom-color: #C6C3B4;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #A3A29D;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #C6C3B4;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #A3A29D;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 14px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 100%;
}
input[type="email"]:focus, input[type="password"]:focus {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #549FDC;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #549FDC;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #549FDC;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #549FDC;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 0 0 1px #549FDC inset;
}
input[type="email"]:disabled, input[type="password"]:disabled {
    background-color: #F0F0F0;
    color: #4F4F4F;
    opacity: 1;
}
input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
button, .button {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #37A6FF;
    background-image: -moz-linear-gradient(center top , #76C2FF 0pt, #37A6FF 100%);
    border-bottom-color: #37A6FF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #37A6FF;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #37A6FF;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #37A6FF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 0 0 1px #76C2FF inset;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: 'Droid Serif',Georgia,serif;
    font-size: 14px;
    height: 28px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    text-shadow: -1px -1px 0 #37A6FF;
    vertical-align: middle;
    white-space: nowrap;
}
button:hover, button:focus, .button:hover, .button:focus {
    background-color: #76C2FF;
    background-image: -moz-linear-gradient(center top , #76C2FF 50%, #37A6FF 100%);
}
button:active, .button:active {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #006EC6;
    background-image: -moz-linear-gradient(center top , #3AA7FF 0pt, #006EC6 100%);
    border-bottom-color: #003E70;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #003E70;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #003E70;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #003E70;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 0 5px #003763 inset;
    color: #EEEEEE;
    text-shadow: -1px -1px 0 #006EC6;
}
button::-moz-focus-inner, .button::-moz-focus-inner {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
button[disabled], .submit_disabled button, .submit_disabled .button, .submit_disabled button:focus, .submit_disabled .button:focus, .submit_disabled button:active, .submit_disabled .button:active {
    background-color: #37A6FF;
    background-image: -moz-linear-gradient(center top , #76C2FF 0pt, #37A6FF 100%);
    opacity: 0.5;
}
#cancel, #back {
    background-color: transparent;
    color: #549FDC;
    font-size: 1em;
    font-weight: normal;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.submit #cancel, #signIn .submit #cancel {
    float: right;
    line-height: 28px;
    margin-right: 15px;
}
a.secondary[disabled], .submit_disabled a.secondary, .submit_disabled a.secondary:focus, .submit_disabled a.secondary:active {
    color: #999999;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EEEEEE;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    height: 1px;
    width: 700px;
}
.right {
    float: right;
}
h1 {
    font-size: 24px;
    font-weight: normal;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
header ul li {
    display: inline-block;
    float: left;
}
header a {
    color: #222222;
}
header a.home {
    background-image: url("/i/icon.png");
    background-position: left 4px;
    background-repeat: no-repeat;
    display: block;
    height: 21px;
    text-indent: -999px;
    width: 80px;
}
footer {
    color: #AAAAAA;
}
footer a {
    color: #AAAAAA;
}
footer ul li {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 0;
}
footer .help {
    color: #62615F;
    cursor: help;
    float: right;
}
.cancelVerify {
    font-weight: bold;
}
#wait, #delay {
    background-color: #FFFFFF;
}
#error {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFE4D5;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
#error h2 {
    color: #FF0000;
}
#error ul, #error li {
    list-style-type: none;
}
#wait strong, #error strong, #delay strong {
    color: #222222;
    font-weight: bold;
}
#error #moreInfo {
    display: none;
}
#error a {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: underline;
    -moz-text-decoration-style: solid;
    color: #549FDC;
}
noscript {
    background-color: #EF1010;
    color: #FFFFFF;
    display: block;
    left: 0;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}
#errorBackground {
    -moz-transition-delay: 0s;
    -moz-transition-duration: 750ms;
    -moz-transition-property: opacity;
    -moz-transition-timing-function: ease;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #000000;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -2;
}
.waiting #errorBackground, .error #errorBackground, .delay #errorBackground {
    display: block;
    opacity: 0.6;
    z-index: 1001;
}
#error, #wait, #delay {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition-delay: 0s;
    -moz-transition-duration: 750ms;
    -moz-transition-property: opacity;
    -moz-transition-timing-function: ease;
    border-bottom-color: #000000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #000000;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 2px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #000000;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 2px;
    border-top-color: #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 2px;
    left: 20%;
    opacity: 0;
    position: fixed;
    right: 20%;
    text-align: center;
    top: 35%;
    z-index: -2;
}
.waiting #wait {
    opacity: 1;
    z-index: 1002;
}
.delay #delay {
    opacity: 1;
    z-index: 1003;
}
.error #error {
    opacity: 1;
    z-index: 1004;
}
#error > div, #wait > div, #delay > div {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    z-index: 1001;
}
#wrapper {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    min-height: 100%;
    position: relative;
    width: 700px;
}
#content {
    padding-bottom: 84px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 84px;
}
#about {
    background-color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    color: #444444;
    font-family: 'Droid Serif',Georgia,serif;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.video {
    font-size: 2em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    text-align: center;
    width: 700px;
}
.video img, .video iframe {
    display: block;
}
.row {
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    position: relative;
}
.row:last-child {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.row h2 {
    color: #222222;
    display: inline-block;
    font-size: 21px;
    font-weight: normal;
    line-height: 32px;
}
.row div {
    display: table-cell;
    height: 140px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 0;
    vertical-align: middle;
    width: 500px;
}
.row p {
    float: left;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    width: 380px;
}
.row img {
    float: left;
}
.row button, .row .button {
    display: inline-block;
    float: right;
}
div.steps {
    background-image: url("/i/count.png");
    float: left;
    height: 24px;
    margin-right: 10px;
    vertical-align: bottom;
    width: 24px;
}
.one .steps {
    background-position: left 0;
}
.two .steps {
    background-position: left -24px;
}
.three .steps {
    background-position: left -48px;
}
.sumo {
    text-align: center;
}
.sumo > a {
    color: #444444;
    font-weight: bold;
}
.legal {
    padding-bottom: 50px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 50px;
}
#newuser {
    background-color: #FACA33;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #626160;
    height: 0;
    line-height: 32px;
    margin-bottom: 20px;
    opacity: 0;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.newuser #newuser {
    -moz-transition-delay: 0s;
    -moz-transition-duration: 500ms;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
    height: 32px;
    opacity: 1;
}
#manage {
    padding-bottom: 75px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 75px;
}
#manage {
    background-color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    text-align: justify;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.legal p, .legal h2, .legal ul {
    padding-bottom: 21px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.legal li {
    border-bottom-color: #EEEEEE;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    list-style-type: square;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7px;
    padding-bottom: 7px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.legal li:last-child {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
}
.legal h2 {
    color: #222222;
    font-size: 21px;
}
.legal h3 {
    color: #222222;
    font-size: 18px;
    padding-bottom: 7px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 49px;
}
.legal h4 {
    color: #222222;
    font-size: 14px;
    margin-bottom: 7px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 14px;
}
.legal h5, .legal strong {
    color: #666666;
    font-size: 12px;
}
.legal p, .legal ul {
    color: #666666;
}
.legal h2, .legal h3 {
    font-family: 'Droid Serif',Georgia,serif;
    font-weight: normal;
}
#manage section {
    margin-bottom: 20px;
}
.buttonrow {
    margin-bottom: 14px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.buttonrow > h2 {
    display: inline-block;
    font-size: 1em;
}
#manage button {
    font-size: 12px;
    height: 24px;
    line-height: 20px;
}
.edit .buttonrow > .edit {
    display: none;
}
.buttonrow > .done {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #006EC6;
    background-image: -moz-linear-gradient(#3AA7FF 0pt, #006EC6 100%);
    border-bottom-color: #003E70;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #003E70;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #003E70;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #003E70;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 0 5px #003763 inset;
    color: #EEEEEE;
    display: none;
    text-shadow: -1px -1px 0 #006EC6;
}
.edit .buttonrow > .done {
    display: inline-block;
}
#manage #emailList {
    border-top-color: #EEEEEE;
    border-top-style: solid;
    border-top-width: 1px;
    list-style-type: none;
}
#emailList li {
    border-bottom-color: #EEEEEE;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    line-height: 24px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
}
#emailList .email, .activity {
    display: inline-block;
    float: left;
    white-space: nowrap;
}
#emailList .email {
    width: 275px;
}
.activity {
    color: #AAAAAA;
    text-align: right;
    width: 275px;
}
.activity button, .activity abbr {
    display: inline-block;
    float: right;
}
.activity button {
    -moz-transition-delay: 0s;
    -moz-transition-duration: 0.4s;
    -moz-transition-property: margin;
    -moz-transition-timing-function: ease;
    margin-left: 10px;
    margin-right: -70px;
    width: 60px;
}
.edit .activity button {
    margin-right: 0;
}
button.delete {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EA7676;
    background-image: -moz-linear-gradient(#EA7676 0pt, #C84343 100%);
    border-bottom-color: #B13D3D;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #B13D3D;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #B13D3D;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #B13D3D;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 0 0 1px #EA7676 inset;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-shadow: -1px -1px 0 #C84343;
}
button.delete:active {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #C84343;
    background-image: -moz-linear-gradient(center top , #C84343 0pt, #AA3D3D 100%);
    border-bottom-color: #672424;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #672424;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #672424;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #672424;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 0 5px #003763 inset;
    color: #EEEEEE;
    text-shadow: -1px -1px 0 #AA3D3D;
}
#edit_password {
    display: none;
    margin-bottom: 10px;
}
.canSetPassword #edit_password {
    display: block;
}
#edit_password label {
    display: inline-block;
    width: 40%;
}
#edit_password input[type="password"] {
    width: 40%;
}
.showedit {
    -moz-transition-delay: 0s;
    -moz-transition-duration: 500ms;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
    opacity: 0;
}
.edit .showedit {
    opacity: 1;
}
#disclaimer {
    color: #888888;
    text-align: right;
}
#disclaimer a {
    color: #549FDC;
}
h1 {
    margin-bottom: 20px;
}
#vAlign {
    display: table-cell;
    vertical-align: middle;
    width: 700px;
}
#signUp {
    font-family: 'Droid Serif',Georgia,serif;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 122px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 122px;
    padding-bottom: 0;
    padding-left: 250px;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    width: 700px;
}
#signUp .info {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: underline;
    -moz-text-decoration-style: solid;
    color: #549FDC;
}
#signUp p {
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.create {
    background-color: #37A6FF;
    display: inline-block;
    float: none;
    font-size: 16px;
    height: 32px;
    line-height: 27px;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    vertical-align: middle;
}
#card {
    -moz-transition-delay: 0s;
    -moz-transition-duration: 0.4s;
    -moz-transition-property: background-position;
    -moz-transition-timing-function: ease;
    background-image: url("/i/card.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    display: block;
    height: 200px;
    left: 0;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 200px;
    z-index: 1;
}
#card.insert {
    background-position: 170px center;
}
#card img {
    float: right;
}
#status {
    background-image: url("/i/blink.gif");
    background-position: left center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 4px #C15151;
    display: block;
    height: 16px;
    left: 214px;
    margin-top: -13px;
    position: absolute;
    top: 50%;
    width: 6px;
}
#status.green {
    background-position: right center;
    box-shadow: 0 0 4px #3BB421;
}
#hint {
    background-image: url("/i/hint.png");
    background-repeat: no-repeat;
    display: block;
    height: 200px;
    left: 0;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 200px;
    z-index: 0;
}
#hint.info {
    background-position: left center;
}
#hint.signUp {
    background-position: right center;
}
#signUpFormWrap {
    margin-bottom: 122px;
    margin-left: 115px;
    margin-right: 115px;
    margin-top: 122px;
}
#signUpFormWrap a.signUpIn {
    color: #549FDC;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
#signUpFormWrap a.space {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
#signUpForm, #congrats {
    background-color: #E1DEDA;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
#signUpForm ul {
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
#signUpForm li {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#signUpForm label {
    color: #62615F;
    display: block;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
#signUpForm .red {
    color: red;
}
#signUpForm .submit {
    height: 28px;
}
#signUpForm .remember {
    display: inline-block;
    line-height: 28px;
}
#signUpForm .remember .checkAlign {
    float: left;
}
#signUpForm .remember label {
    float: left;
    margin-left: 5px;
}
#signUpForm .error {
    background-color: rgba(255, 0, 0, 0.25);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: red;
    line-height: 16px;
    margin-top: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
#signUpForm > .siteinfo {
    margin-bottom: 10px;
}
.siteinfo, #congrats, #signUpForm > .password_entry, .enter_password .hint, #unknown_secondary, #primary_verify, .verify_primary .submit {
    display: none;
}
.enter_password #signUpForm > .password_entry, .known_secondary #signUpForm > .password_entry, .unknown_secondary #unknown_secondary, .verify_primary #verify_primary {
    display: block;
}
#congrats p {
    color: #62615F;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
#congrats .siteinfo {
    margin-top: 10px;
}
#congrats .website {
    display: block;
    text-align: center;
}
a.forgot {
    color: #888784;
    font-size: 11px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.notifications {
    list-style-type: none;
}
.notifications > .notification {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #62615F;
    display: none;
    line-height: 21px;
    margin-top: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.notifications > .notification a, .notifications > .notification strong {
    color: #222222;
}
.notifications .notification.error {
    background-color: rgba(255, 0, 0, 0.25);
    color: red;
}
#wrapper > header {
    font-weight: bold;
    position: absolute;
    top: 0;
}
header ul {
    display: inline-block;
}
header ul.nav {
    float: right;
}
header ul.nav li {
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 0;
}
header a.signIn, header a.signOut {
    background-color: #D1CECA;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
}
header a.signIn:hover, header a.signOut:hover {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    background-color: #B0AFAE;
}
.authenticated .signIn, .signOut {
    display: none;
}
.authenticated .signOut {
    display: inline;
}
#wrapper > header, footer {
    display: block;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    width: 100%;
}
footer {
    bottom: 0;
    position: absolute;
}
#newsbanner {
    -moz-transition-delay: 0s;
    -moz-transition-duration: 500ms;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
    background-color: #FACA33;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #626160;
    line-height: 32px;
    margin-bottom: 20px;
    margin-top: 60px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
#wrapper {
    width: 320px;
}
hr {
    width: 300px;
}
#content {
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    padding-bottom: 84px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 122px;
}
#header {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
#header ul.nav {
    float: left;
    margin-top: 10px;
    width: 260px;
}
#header ul.nav li {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 1px;
    margin-top: 0;
    text-align: center;
    width: 64px;
}
#header ul.nav li:first-child {
    width: 102px;
}
#header ul.nav li:nth-child(2) {
    width: 91px;
}
#header ul.nav li a {
    background-color: #549FDC;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #FFFFFF;
    display: block;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
}
body.authenticated #header ul.nav li.signOut, #header ul.nav li {
    display: block;
}
#header ul.nav li.signOut, body.authenticated #header ul.nav li.signIn {
    display: none;
}
#header ul.nav li a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 3px;
}
#header ul.nav li:first-child a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
}
#header ul.nav li:nth-child(2) a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#header ul.nav li a.signIn {
    background-color: rgba(0, 0, 0, 0.1);
    color: #222222;
}
#header ul.nav li a:hover {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
}
#signUp {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 90px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    width: 320px;
}
#signUp p {
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
}
#card {
    -moz-transition-delay: 0s;
    -moz-transition-duration: 0s;
    -moz-transition-property: none;
    -moz-transition-timing-function: ease;
    background-position: center top;
    background-size: 50% auto;
    height: 80px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    position: relative;
    top: auto;
    width: 260px;
}
button.create {
    font-size: 14px;
    height: 28px;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0;
}
#card.insert {
    background-position: center top;
}
#card img {
    display: none;
}
#hint, #status {
    display: none;
}
.legal {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: left;
}
.legal li {
    list-style-position: inside;
}
#about {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#about .video, #about .video img {
    height: auto;
    width: 300px;
}
.row {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.row div {
    display: block;
    height: auto;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    vertical-align: inherit;
    width: auto;
}
.row img {
    float: none;
    height: auto;
    width: 260px;
}
.row p {
    display: block;
    float: none;
    padding-left: 33px;
    text-indent: -33px;
    width: 260px;
}
#signUpFormWrap {
    margin-bottom: 122px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 122px;
}
#manage {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: left;
}
#manage .edit {
    margin-bottom: 14px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 36px;
}
#manage #emails {
    margin-bottom: 36px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
#emails .email, #emails .activity {
    display: block;
    width: 260px;
}
#emails .activity span {
    float: left;
}
#disclaimer {
    text-align: left;
}
#footer {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
#emailList .email {
    float: left;
    width: auto;
}
#emailList .activity {
    float: right;
    width: auto;
}
#newsbanner {
    margin-bottom: 28px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 115px;
}
