{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="http://yandex.st/jquery-ui/1.8.15/themes/redmond/jquery.ui.all.min.css">
<script src="http://yandex.st/jquery/1.7.1/jquery.js"></script>
<script src="http://yandex.st/jquery-ui/1.8.16/jquery-ui.js"></script>
<script src={{ url.url_for('static', 'jquery-ui-timepicker-addon.js')}}></script>
<link rel="stylesheet" href={{ url.url_for('static', 'jquery-ui-timepicker-addon.css')}}>

{% endblock %}

{% block title %}
  {% if is_edit %}
    edit publication
  {% else %}
    add publication
  {% endif %}
{% endblock %}


{% block content %}
        <form class="hero-unit" method="POST" action=
        {% if is_edit %}
          "{{url.url_for('edit_publication', post.post_url)}}"
        {% else %}
          "{{url.url_for('add_publication')}}"
        {% endif %}
        >
                    <label for="post_title">Заголовок</label>
                    <input name="post_title" id="post_title" placeholder="Заголовок"  type="pub_title" autocapitalize="off" autocorrect="off" tabindex="2" maxlength="254" value="{{ post.post_title }}" />
					<label for="post_body">Текст</label>
					<div class="yui-skin-sam">
						<textarea name="post_body" tabindex="3" id="msgpost" cols="50" rows="10">
    					{{ post.post_body }}
						</textarea>
					</div>
          <input name="post_url" id="post_url" type = "hidden" value="{{ post.post_url }}" />
          <label for="post_drafts">Чернетка</label>
          <input name="post_drafts" id="post_drafts" 
                     {% if post.post_drafts %}
                      checked
                     {% endif %}
                     type="checkbox"  tabindex="4" maxlength="254" />
          <label for="post_date">Дата публікації</label>
          <input name="post_date" id="post_date"  type="date" tabindex="5" maxlength="254" value="{{ post.post_date }}"/>
              <div class="btn-group">
                        <button id="post_publication" class="btn btn-primary" tabindex="5">
                        {% if is_edit %}
                          Зберегти
                        {% else %}
                          Публікувати
                        {% endif %}
                        </button>
                        {% if is_edit %}
                          <a href="{{url.url_for('delete_publication', post.post_url)}}" class="btn btn-danger" >Видалити</a>
                        {% endif %}
              </div>
        </form>

        {{ post }}

{% endblock %}
