<!DOCTYPE html>
<html>
    <head>
      <title>@taras1k {% block title %}{% endblock %}</title>
      <meta charset="UTF-8">
      <meta content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport" />
      <meta content="yes" name="apple-mobile-web-app-capable" />
      <meta content="chrome=1" http-equiv="X-UA-Compatible" />
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
      <link href= "{{ url.url_for('static', 'style.css') }}" rel="stylesheet" type="text/css">
      <link href= "{{ url.url_for('static', '/fonts/foundation-icons-general-enclosed.eot') }}" rel="stylesheet" type="text/css">
      <link href= "{{ url.url_for('static', '/fonts/foundation-icons-general-enclosed.woff') }}" rel="stylesheet" type="text/css">
      <link href= "{{ url.url_for('static', '/fonts/foundation-icons-general-enclosed.ttf') }}" rel="stylesheet" type="text/css">
      <link href= "{{ url.url_for('static', '/fonts/foundation-icons-general-enclosed.svg') }}" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href= "{{ url.url_for('static', 'foundation-icons-general-enclosed.css') }}" >
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      {% block head %}{% endblock %}
    </head>
<body class="{% block page_type %}{% endblock %}">

<div id="wrapper">

    <header id="header" class="cf">
        <ul class="cf">
            <li><a href="/">Самописний блог</a></li>
        </ul>

        <ul class="nav cf">
            <li><a href="https://github.com/taras1k/blog" target="_blank">git</a></li>
            {% block header %}{% endblock %}
            {%if users.get_user() %}
              <li class="signIn"><a class="signIn" href="{{url.url_for('logout')}}">вийти</a></li>
            {%endif%}
        </ul>
    </header>

<div id="content" class="display_always">
    <div id="about">
      {% block content %}{% endblock %}        
    </div>
</div>

      {% block footer %}
    <footer id="footer">
        <ul class="cf">
            <li><a href="/about">про</a></li>
        </ul>
    </footer>
    {% endblock %}

</div>
{% block scripts %}{% endblock %}  
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter14896243 = new Ya.Metrika({id:14896243, enableAll: true, webvisor:true});
        } catch(e) {}
    });
    
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/14896243" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->    
</body>
</html>