{% extends "base.html" %}

{% block title %}
    вхід
{% endblock %}


{% block content %}
 <div class="hero-unit">
        {% if bad_pass %}
        <div class="alert alert-error">
            логін або пароль введено невірно
        </div>
        {% endif %}
        <form method="POST" action="{{url.url_for('login')}}" class="cf authform" novalidate>
            <h2>Вхід</h2>
                    <label for="email">Пошта</label>
                    <input name="username" id="email" autofocus placeholder="Ваша пошта" type="email" autocapitalize="off" autocorrect="off" tabindex="1" maxlength="254" />
					<label for="password">Пароль</label>
                    <input name="password" id="password" placeholder="Ваш пароль" type="password" tabindex="2" maxlength="80" />
                    <div class="btn-group">
                        <button class="btn btn-primary" tabindex="5">Ввійти</button>
                    </div>
        </form>
    </div>
{% endblock %}